<section>
    <div class="container">
        <div class="back">←</div>
        <h1>Editar estudiante</h1>

        <div class="profile-icon">
            👤
        </div>

        <h2>Editar estudiante</h2>

        <div id="response">

        </div>

        <form id="form">
            <div class="form-group">
                <label for="name">Nombre completo</label>
                <input type="text" id="name1" placeholder="Escribe el nombre completo">
            </div>

            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email1" placeholder="Escribe el correo">
            </div> 

            <div class="form-group">
                <label for="phone">Teléfono</label>
                <input type="tel" id="phone1" placeholder="Número de contacto">
            </div>

            <div class="form-group">
                <label for="admission">Fecha de admisión</label>
                <input type="date" id="admission1" >
            </div>

            <div class="buttons">
                <button type="button" onclick="editUser()" id="btn-save1">Guardar</button>
            </div>
        </form>
    </div>
</section>
