<section>
    <div class="header">
        <h2>Lista de Estudiantes</h2>
        <button id="add-btn"><a href="/newUser" data-link>AGREGAR NUEVO ESTUDIANTE</a></button>
    </div>

    <div id="results">
    </div>

    <table>
        <thead>
            <tr>
                <th>Fotografía</th>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Fecha de admisión</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="usersTable">


        </tbody>
    </table>
</section>
